@media only screen and (max-width: 767px) {
    #search-bar {
        max-width: 90%;
    }

    #icons {
        margin-right: 15px;
        margin-left: 15px;
    }
   
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #202124;
    color: #bdc1c6;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 4px 14px 0 14px;
}

.header-buttons {
    padding: 8px;
    font-size: .9em;
    text-decoration: none;
    color: inherit;
}


.header-buttons:hover {
    text-decoration: underline;
}

.header-button-icons:hover {
    background-color: #33353a;
    border-radius: 50%;
}


#header-buttons-1, #header-buttons-2 {
    display: flex;
    align-items: center;
}


#header-buttons-2 {
    color: rgb(255, 255, 255);
    padding: 3px;
    font-size: .9em;
}

#google-grid-icon {
    width: 25px;
    height: 25px;
}

#name-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#logo {
    display: flex;
    justify-content: center;
    padding-top: 195px; 
}

#search-bar-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
}

#search-bar {
    position: absolute;
    margin-top: 28px;
    height: 43px;
    width: 580px;
    color: white;
    font-size: 1rem;
    background-color: #202124;
    border: 1px solid rgb(100, 101, 105);
    border-radius: 30px;
    text-indent: 45px;
}

#search-bar:hover {
    background-color: rgb(63, 60, 60);
    border: none;
}

#icons {
    width: 600px;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}


#search-icon {
    z-index: 1;
    width: 17px;
    height: 17px;
    margin-left: 5%;
}

.google-icons {
    display: flex;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-right: 5%;
}

.google-icons > svg {
}

#search-buttons-container {
    margin-top: 30px;;
    border: none;
    display: flex;
    justify-content: center;
}

.search-buttons {
    margin-right: 5px;
    margin-left: 5px;
    height: 36px;
    width: 136px;
    font-size: .9em;
    background-color: #303134;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
}

#im-feeling-lucky {
    width: 142px;
}

.search-buttons:hover {
    border: 1px solid rgb(163, 160, 160);
    cursor: pointer;
}

#french-text {
    text-align: center;
    font-size: .8em;
}

#french-text-link {
    color: #8ab4f8;
    text-decoration: none;
}

#french-text-link:hover {
    text-decoration: underline;
}

#footers {
    width: 100vw;
    display:flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: #141414;
    font-size: .9em;
}

#footer-1 {
    display: block;
    align-content: center;
    height: 45px;
    border-bottom: 1px solid rgb(60, 64, 67);
    text-indent: 25px;
}

#footer-2 {
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-row {
    display: flex;
    justify-content: space-evenly;
}

#footer-row-1 {
    width: 350px;
}

#footer-row-2 {
    width: 250px;
}

.footer-row > a {
    text-decoration: none;
    color: inherit;
}

.footer-row > a:hover {
    text-decoration: underline;
}